<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>城鼎自助打印</title>
    <link rel="stylesheet" href="__CSS__/style.css">
</head>

<body>

<div class="cotn_principal">
    <div class="cont_centrar">
        <p>诚鼎自助打印</p>
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>管理员登陆</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur.</p>-->
                        <a href="./admin/Login/index.html" target="_self" class="btn_login">LOGIN</a>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>代理商登陆</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur.</p>-->
                        <a href="./proxy/Login/index.html" target="_self" class="btn_login">LOGIN</a>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>商铺登陆</h2>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur.</p>-->
                        <a href="./shop/Login/index.html" target="_self" class="btn_login">LOGIN</a>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"><img src="po.jpg" alt=""/></div>
            </div>
        </div>
    </div>
    <a class="ICP" href="https://beian.miit.gov.cn/" target="_blank">蜀ICP 备2021019118号-1</a>
</div>

</body>
</html>