{extend name="common/layout" /}
{block name="content"}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">店铺列表</h3>
        <div class="card-tools">
            <a href="{:url('add')}" class="btn btn-primary">添加</a>
        </div>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <div class="row pb-2">
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right text-nowrap">店铺</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="key" value="{$key|default=''}"
                                   placeholder="请输入关键词" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">搜索</button>
                    <a href="{:url()}" class="btn btn-success">显示全部</a>
                </div>
            </div>
        </form>
        {empty name="lists"}
        <div class="text-center text-gray">暂无店铺</div>
        {else}
        <div class="table-responsive">
            <table class="table table-striped text-nowrap table-sm">
                <tr>
                    <th style="width: 10px">ID</th>
                    <th>店主姓名</th>
                    <th>店主手机号</th>
                    <th>店铺名称</th>
                    <!--<th>店铺地址</th>-->
                    <th>流水
                        <span class="badge badge-success">日</span>
                        <span class="badge badge-info">周</span>
                        <span class="badge badge-primary">月</span>
                    </th>
                    <th>累计提现</th>
                    <th>余额</th>
                    <th>操作</th>
                </tr>
                {volist name="lists" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.phone}</td>
                    <td>{$vo.shop_name}</td>
                    <!--<td>{$vo.address}</td>-->
                    <td>
                        {if round(bcdiv($vo.day_commission??0,100,3),2) > 0 }<span class="badge badge-success">{:round(bcdiv($vo.day_commission??0,100,3),2)}</span>
                        {/if}
                        {if round(bcdiv($vo.week_commission??0,100,3),2) > 0 }<span class="badge badge-info">{:round(bcdiv($vo.week_commission??0,100,3),2)}</span>
                        {/if}
                        {if round(bcdiv($vo.month_commission??0,100,3),2) > 0 }<span class="badge badge-primary">{:round(bcdiv($vo.month_commission??0,100,3),2)}</span>
                        {/if}
                    </td>
                    <td>
                        {if round(bcdiv($vo.price??0,100,3),2) > 0 }<span class="badge badge-warning">{:round(bcdiv($vo.price,100,3),2)}</span>
                        {/if}
                    </td>
                    <td><span class="badge badge-danger">{:round(bcdiv($vo.commission,100,3),2)}</span></td>
                    <td>
                        <a href="{:url('add',['id'=>$vo.id])}" class="btn btn-primary btn-xs">编辑</a>
                        <a href="{:url('delete',['id'=>$vo.id])}" data-ajax="确定删除吗?删除后不可恢复"
                           class="btn btn-danger btn-xs">删除</a>
                        <a href="{:url('shopAdmin',['id'=>$vo.id])}" class="btn btn-primary btn-xs" target="_blank">登录店铺后台</a>
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
        {$pages|raw}
        {/empty}
    </div>
</div>
{/block}﻿
{block name="footer"}
{/block}