{extend name="common/layout" /}
{block name="content"}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">订单列表</h3>
        {IF !empty($uid)}
        <div class="card-tools">
            <a href="javascript:history.go(-1)">返回</a>
        </div>
        {/IF}
    </div>
    <div class="card-body">
        {IF empty($uid)}
        <form action="" method="post">
            <div class="row">
                <div class="col-2">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-center text-nowrap">订单号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="out_trade_no"
                                   value="{$search.out_trade_no|default=''}" placeholder="请输入订单号" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-center text-nowrap">代理</label>
                        <div class="col-sm-10">
                            <select id="proxy" name="proxy" class="my-select2">
                                <option value="">全部店铺</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-center text-nowrap">店铺</label>
                        <div class="col-sm-10">
                            <select id="shop" name="shop" class="my-select2">
                                <option value="">选择店铺</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-center text-nowrap">时间</label>
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-sm-5">
                                    <input type="date" id="ontime" name="ontime" class="form-control">
                                </div>
                                <div class="col-sm-1 text-center">
                                    -
                                </div>
                                <div class="col-sm-5">
                                    <input type="date" id="offtime" name="offtime" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">搜索</button>
                    <a href="{:url()}" class="btn btn-success">显示全部</a>
                </div>
            </div>
        </form>
        {/IF}
        {empty name="lists"}
        <div class="text-center text-gray">暂无订单</div>
        {else}
        <div class="table-responsive">
            <table class="table table-striped text-nowrap table-sm text-sm">
                <tr>
                    <th style="width: 10px">ID</th>
                    <th>平台</th>
                    <th>昵称</th>
                    <th>订单号</th>
                    <th>支付总金额</th>
                    <th>平台分成</th>
                    <th>代理分成</th>
                    <th>商家分成</th>
                    <th>下单时间</th>
                    <th>订单状态</th>
                    <th>退款状态</th>
                    <th>店铺/打印机</th>
                    <th>操作</th>
                </tr>
                {volist name="lists" id="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>
                        {switch name="$vo.platform"}
                        {case value="1"}微信{/case}
                        {case value="2"}QQ{/case}
                        {case value="3"}支付宝{/case}
                        {case value="4"}字节{/case}
                        {case value="5"}百度{/case}
                        {/switch}
                    </td>
                    <td>{$vo.nickname}</td>
                    <td>{$vo.out_trade_no}</td>
                    <td>{$vo.total_fee|round(bcdiv=###,100,3),2}</td>

                    {switch name="$vo.status"}
                    {case value="0"}
                    <td>0</td>
                    {/case}
                    {case value="1"}
                    <td>{$vo.total_fee - $vo.proxy_commission - $vo.commission|round(bcdiv=###,100,3),2}</td>
                    {/case}
                    {/switch}


                    <td>{$vo.proxy_commission|round(bcdiv=###,100,3),2}</td>
                    <td>{$vo.commission|round(bcdiv=###,100,3),2}</td>

                    <td>{$vo.inserttime|date="Y-m-d H:i:s"}</td>
                    <td>
                        {switch name="$vo.status"}
                        {case value="0"}<span class="badge badge-secondary">未支付</span>{/case}
                        {case value="1"}<span class="badge badge-primary">支付成功</span>{/case}
                        {/switch}
                    </td>
                    <td>
                        {switch name="$vo.out_refund_status"}
                        {case value="1"}<span class="badge badge-primary">待审核</span>{/case}
                        {case value="2"}<span class="badge badge-primary">已驳回</span>{/case}
                        {case value="3"}<span class="badge badge-primary">退款完成</span>{/case}
                        {case value="4"}<span class="badge badge-primary">退款异常</span>{/case}
                        {case value="5"}<span class="badge badge-primary">退款中</span>{/case}
                        {case value="6"}<span class="badge badge-primary">人工处理</span>{/case}
                        {case value="7"}<span class="badge badge-primary">部分退款</span>{/case}
                        {/switch}
                    </td>
                    <td>
                        <span class="badge badge-success">{$vo.shop_name}</span>
                        <span class="badge badge-success">{$vo.printer_name}</span>
                    </td>

                    <td>
                        {IF ($vo.out_refund_no == null || $vo.out_refund_no =='') && $vo.status != 0}
                        <a href="javascript:refund({$vo.id})" class="btn btn-xs btn-primary">手动退款</a>
                        {/IF}
                        <a href="{:url('detail',['id'=>$vo.id])}" class="btn btn-primary btn-xs">查看打印详情</a>
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
        {$pages|raw}
        {/empty}
    </div>
</div>
<style type="text/css">
    input[type=date]::-webkit-calendar-picker-indicator {
        margin-left: 0px;
    }
</style>
{/block}
{block name="footer"}
{$select2|raw}
<script>
    $("#shop").select2({
        width: "100%",
        theme: "bootstrap4",
        placeholder: "选择店铺",
        allowClear: true,
        ajax: {
            url: "{:url('order/shop')}",
            dataType: "json",
            data: function (params) {
                let query = {
                    shop: params.term,
                    proxy: $("#proxy").val(),
                }
                return query;
            },
            processResults: function (data) {
                return {
                    results: data,
                    pagination: {
                        more: data.length >= 100
                    }
                };
            }
        }
    });
    $("#proxy").select2({
        width: "100%",
        theme: "bootstrap4",
        placeholder: "选择代理",
        allowClear: true,
        ajax: {
            url: "{:url('order/proxy')}",
            dataType: "json",
            data: function (params) {
                let query = {proxy: params.term,}
                return query;
            },
            processResults: function (data) {
                return {
                    results: data,
                    pagination: {
                        more: data.length >= 100
                    }
                };
            }
        }
    });
    function refund(order_id) {
        Swal.fire({
            title: "请输入退款金额",
            input: 'text',
            inputPlaceholder: '不可大于订单金额',
            showCancelButton: true,
            closeOnConfirm: false,
            preConfirm: (login) => {
                return {id: order_id, to_fee: login}
            },
            cancelButtonText: "取消",
            confirmButtonText: "退款",
        }).then((isConfirm) => {
            try {
                console.log(isConfirm.value)
                if (isConfirm.value) {
                    $.ajax({
                        url: "{:url('refund')}",
                        type: 'POST',
                        data: isConfirm.value,
                        success: res => {
                            if (res.code == 0){
                                Swal.fire("退款成功", "", "success");
                            } else {
                                Swal.fire("操作失败", res.msg, "error");
                            }
                        }
                    })
                }
            } catch (e) {
                alert(e);
            }
        });
    }
</script>
{/block}